:root{
    --teal-500: hsl(179, 62%, 43%);
    --teal-300: hsl(179, 55%, 65%);

    --green-400: hsl(71, 73%, 54%);
    --teal-100: hsl(204, 43%, 93%);
    --gray-500: hsl(218, 22%, 67%);
    --gray-200: hsl(218, 18%, 90%);

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-color: hsl(218, 22%, 87%);

}

.container{
    margin: 0 auto;
    max-width: 960px;
}

.wrapper{
    display: grid;
    border-radius: 7px;
    background-color: #fff;
    grid-template-columns: 50% 50%;
    grid-template-areas: "a a""b c";

}
.box{
    padding: 40px;
}

.join{
    grid-area: a;

}
.sub{
    grid-area: b;
    background-color: var(--teal-500);
    border-bottom-left-radius: 7px;

}
.why{
    grid-area: c;
    background-color: var(--teal-300);
    border-bottom-right-radius: 7px;
}

h1{
    color: var(--teal-500);
    font-size: 22px;
    margin-bottom: 20px;
}
h3{
    color: var(--green-400);
    font-size: 18px;
    margin-bottom: 20px;

}

.join p{
    font-size: 15px;
    line-height: 1.4;
    color: var(--gray-500);
}
h2{
    color: white;
    font-size: 18px;
    margin-bottom: 20px;
}
h5 {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

h5 span.price{
    color: #fff;
    font-size: 28px;
    font-weight: 700;
    padding-right: 10px;

}
h5 span{
    color: var(--gray-500);
    font-weight: 400;
}
.sub p {
    color: #FFF;
}

.sub a {
    display: block;
    text-align: center;
    background-color: hsl(71, 73%, 54%);
    text-decoration: none;
    color: #FFF;
    font-weight: 800;
    font-size: 13px;
    padding: 12px 0;
    border-radius: 4px;
    margin-top: 30px;
}

.why ul {
    list-style: none;
}

.why li {
    color: #FFF;
    padding-bottom: 4px;
    font-size: 14px;
}

@media only screen and (max-width: 425px) {
    .wrapper {
        grid-template-columns: 100%;
        grid-template-areas: "a""b""c";
        margin: 50px;
    }

    .box {
        padding: 30px;
        
    }
}